{
    "openapi": "3.0.0",
    "info": {
        "title": "One-API",
        "version": "2.0",
        "x-merged-at": "2025-12-17 23:01:45",
        "x-errors-merged": 60
    },
    "servers": [
        {
            "url": "https://one-api.bsg.world",
            "description": "Base url to all calls"
        }
    ],
    "paths": {
        "/api/accounts/balance": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Get balance",
                "description": "Platform provides an API to get information about your account balance.\nThe request allows you to obtain information about the current balance of your account, including the credit limit",
                "operationId": "account_balance",
                "responses": {
                    "200": {
                        "description": "Account balance data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BalanceSchema"
                                        }
                                    },
                                    "type": "object",
                                    "title": "AccountBalance200Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        }
                                    ],
                                    "title": "AccountBalance400Response"
                                },
                                "examples": {
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        }
                                    ],
                                    "title": "AccountBalance422Response"
                                },
                                "examples": {
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/accounts/tariff": {
            "get": {
                "tags": [
                    "Balance"
                ],
                "summary": "Get tariffs",
                "description": "This API allows you to get detailed information about the tariffs for sending SMS and Viber messages, as well as phone Number Verifier requests.\n\nAll rates are specified in the currency that is set in the account settings on the Platform.\n\nThe method transmits information about all available account tariffs for the SMS / 2 Way SMS, Viber, and Number Verifier service",
                "operationId": "account_tariffs",
                "parameters": [
                    {
                        "name": "page[offset]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageOffset"
                        }
                    },
                    {
                        "name": "page[limit]",
                        "in": "query",
                        "description": "The number of items in the response",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 500,
                            "minimum": 15,
                            "example": 50,
                            "title": "ParamSchema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of the tariffs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TariffSchema"
                                            },
                                            "title": "AccountTariffs200ResponseData"
                                        },
                                        "total": {
                                            "$ref": "#/components/schemas/TotalCount"
                                        }
                                    },
                                    "type": "object",
                                    "title": "AccountTariffs200Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        }
                                    ],
                                    "title": "AccountTariffs400Response"
                                },
                                "examples": {
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/tariffThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/pageThisValueShouldBeOfTypeArraytraversablearrayaccess"
                                        }
                                    ],
                                    "title": "AccountTariffs422Response"
                                },
                                "examples": {
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    },
                                    "tariffThisFieldWasNotExpected": {
                                        "summary": "{tariff} - This field was not expected.",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "tariff": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        }
                                    },
                                    "pageThisValueShouldBeOfTypeArraytraversablearrayaccess": {
                                        "summary": "{page} - This value should be of type array|(Traversable&ArrayAccess)",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "page": [
                                                    "This value should be of type array|(Traversable&ArrayAccess)."
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Receive JWT token",
                "description": "Receive JWT token to use with other method. Use live/test api-key to login. JWT-token has limited lifetime and have to be refreshed before become expired",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "api_key": {
                                        "$ref": "#/components/schemas/api_key"
                                    }
                                },
                                "type": "object",
                                "title": "LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        }
                                    ],
                                    "title": "Login400Response"
                                },
                                "examples": {
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ApiKeyNotFound"
                                        }
                                    ],
                                    "title": "Login422Response"
                                },
                                "examples": {
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    },
                                    "ApiKeyNotFound": {
                                        "summary": "API Key not found",
                                        "value": {
                                            "message": "An internal error occurred",
                                            "errors": {
                                                "text": "API Key not found"
                                            }
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh JWT token",
                "description": "Refresh JWT token. Return new JWT-token to new term. It's necessary to call when actual JWT-token almost expired",
                "operationId": "refresh_token",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        }
                                    ],
                                    "title": "RefreshToken400Response"
                                },
                                "examples": {
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ExpiredJwtToken"
                                        },
                                        {
                                            "$ref": "#/components/schemas/JwtTokenNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/InvalidJwtToken"
                                        }
                                    ],
                                    "title": "RefreshToken401Response"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    },
                                    "JwtTokenNotFound": {
                                        "summary": "JWT Token not found",
                                        "value": {
                                            "code": 401,
                                            "message": "JWT Token not found"
                                        },
                                        "x-notes": "текст"
                                    },
                                    "InvalidJwtToken": {
                                        "summary": "Invalid JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Invalid JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        }
                                    ],
                                    "title": "RefreshToken422Response"
                                },
                                "examples": {
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/campaigns/price": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "summary": "Calculate campaign price",
                "description": "Calculate campaign estimated price before actually [send it](#operation/sms_send)\n\n**Please note:** Method suitable only for SMS campaigns\n",
                "operationId": "campaign_price",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "sender",
                                    "text"
                                ],
                                "properties": {
                                    "sender": {
                                        "$ref": "#/components/schemas/Sender"
                                    },
                                    "text": {
                                        "$ref": "#/components/schemas/MessageText"
                                    },
                                    "tariff_code": {
                                        "$ref": "#/components/schemas/TariffCode"
                                    },
                                    "groups": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/ContactGroupId"
                                        },
                                        "uniqueItems": true,
                                        "title": "CampaignPriceRequestGroups"
                                    },
                                    "messages": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "phone": {
                                                    "$ref": "#/components/schemas/PhoneNumber"
                                                }
                                            },
                                            "type": "object",
                                            "title": "CampaignPriceRequestMessagesItem"
                                        },
                                        "title": "CampaignPriceRequestMessages"
                                    }
                                },
                                "type": "object",
                                "title": "CampaignPriceRequest"
                            },
                            "examples": {
                                "required": {
                                    "summary": "required",
                                    "value": {
                                        "sender": "Vet klinika",
                                        "text": "hello!",
                                        "messages": [
                                            {
                                                "phone": 38267161234
                                            }
                                        ]
                                    }
                                },
                                "contact list": {
                                    "summary": "contact list",
                                    "value": {
                                        "sender": "Vet klinika",
                                        "text": "hello!",
                                        "groups": [
                                            1864275
                                        ]
                                    }
                                },
                                "tariff": {
                                    "summary": "tariff",
                                    "value": {
                                        "sender": "Vet klinika",
                                        "text": "hello!",
                                        "messages": [
                                            {
                                                "phone": 38267161234
                                            }
                                        ],
                                        "tariff_code": 9
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Campaign price",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "price": {
                                            "$ref": "#/components/schemas/CalculatedPrice"
                                        },
                                        "currency": {
                                            "$ref": "#/components/schemas/Currency"
                                        }
                                    },
                                    "type": "object",
                                    "title": "CampaignPrice200Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        }
                                    ],
                                    "title": "CampaignPrice400Response"
                                },
                                "examples": {
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/textThisValueShouldSatisfyAtLeastOneOfTheFollowingConstraints1ThisValueIsTooLongItShouldHave1000CharactersOrLess2ThisValueIsTooLongItShouldHave1000CharactersOrLess"
                                        },
                                        {
                                            "$ref": "#/components/schemas/tariffcodeThisValueShouldBeBetween0And9"
                                        },
                                        {
                                            "$ref": "#/components/schemas/senderThisValueIsTooShortItShouldHave3CharactersOrMore"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TariffWasNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/senderThisValueIsTooShortItShouldHave3CharactersOrMore"
                                        },
                                        {
                                            "$ref": "#/components/schemas/textThisValueIsTooShortItShouldHave1CharacterOrMore"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/senderThisValueShouldSatisfyAtLeastOneOfTheFollowingConstraints1NumericSymbolsMax152MixedSymbolsMax11"
                                        }
                                    ],
                                    "title": "CampaignPrice422Response"
                                },
                                "examples": {
                                    "textThisValueShouldSatisfyAtLeastOneOfTheFollowingConstraints1ThisValueIsTooLongItShouldHave1000CharactersOrLess2ThisValueIsTooLongItShouldHave1000CharactersOrLess": {
                                        "summary": "{text} - This value should satisfy at least one of the following constraints: [1] This value is too long. It should have 1000 characters or less. [2] This value is too long. It should have 1000 characters or less.",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "text": [
                                                    "This value should satisfy at least one of the following constraints: [1] This value is too long. It should have 1000 characters or less. [2] This value is too long. It should have 1000 characters or less."
                                                ]
                                            }
                                        },
                                        "x-notes": "текст"
                                    },
                                    "tariffcodeThisValueShouldBeBetween0And9": {
                                        "summary": "{tariff_code} - This value should be between 0 and 9.",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "tariff_code": [
                                                    "This value should be between 0 and 9."
                                                ]
                                            }
                                        },
                                        "description": "в запиті вказано ID тарифу який ≠ значенню 0-9",
                                        "x-notes": "текст"
                                    },
                                    "senderThisValueIsTooShortItShouldHave3CharactersOrMore": {
                                        "summary": "{sender} - This value is too short. It should have 3 characters or more.",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "sender": [
                                                    "This value is too short. It should have 3 characters or more."
                                                ]
                                            }
                                        },
                                        "description": "в запиті для поля sender вказано значення яке не відповідає вимогам до SMS Sender, наприклад цифри < 3",
                                        "x-notes": "текст"
                                    },
                                    "TariffWasNotFound": {
                                        "summary": "Tariff was not found",
                                        "value": {
                                            "message": "Tariff was not found",
                                            "errors": []
                                        },
                                        "description": "в запиті вказано ID тарифу, який не існує",
                                        "x-notes": "текст"
                                    },
                                    "textThisValueIsTooShortItShouldHave1CharacterOrMore": {
                                        "summary": "{text} - This value is too short. It should have 1 character or more.",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "text": [
                                                    "This value is too short. It should have 1 character or more."
                                                ]
                                            }
                                        },
                                        "description": "в запиті для поля text не вказано значення - пусто",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    },
                                    "senderThisValueShouldSatisfyAtLeastOneOfTheFollowingConstraints1NumericSymbolsMax152MixedSymbolsMax11": {
                                        "summary": "{sender} - This value should satisfy at least one of the following constraints: [1] numeric symbols max:15 [2] mixed symbols max:11",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "sender": [
                                                    "This value should satisfy at least one of the following constraints: [1] numeric symbols max:15 [2] mixed symbols max:11"
                                                ]
                                            }
                                        },
                                        "description": "в запиті для поля sender вказано значення яке не відповідає вимогам до SMS Sender, наприклад цифри і букви > 11 або > 15 цифр",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/campaigns/{id}/detail": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "summary": "Get campaign details",
                "description": "Campaign detail information and delivery statistics",
                "operationId": "campaign_details",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Id"
                        },
                        "example": 53651994
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Campaign details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DetailCampaignSchema"
                                        }
                                    },
                                    "type": "object",
                                    "title": "CampaignDetails200Response"
                                },
                                "examples": {
                                    "details": {
                                        "summary": "details",
                                        "value": {
                                            "data": {
                                                "id": 53651994,
                                                "name": "SMS api campaign / 2024-04-03 12:14:49",
                                                "sender": "testsms",
                                                "status": "done",
                                                "type": "sms",
                                                "started_at": "2024-04-03 12:14:49",
                                                "actual_start_at": "2024-04-03 12:15:06",
                                                "finished_at": "2024-04-03 12:15:07",
                                                "created_at": "2024-04-03 12:14:49",
                                                "statistics": {
                                                    "delivered": 7,
                                                    "sent": 0,
                                                    "scheduled": 0,
                                                    "moderation": 0,
                                                    "accepted": 0,
                                                    "sending": 0,
                                                    "expired": 0,
                                                    "failed": 0,
                                                    "undelivered": 3,
                                                    "unknown": 0,
                                                    "read": 0,
                                                    "not_viber_user": 0,
                                                    "not_rcs_user": 0
                                                },
                                                "total_messages": 10,
                                                "total_phones": 10,
                                                "total_price": "0.16",
                                                "currency": "USD",
                                                "alternative_channels": []
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        }
                                    ],
                                    "title": "CampaignDetails400Response"
                                },
                                "examples": {
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/InvalidCampaignId"
                                        }
                                    ],
                                    "title": "CampaignDetails422Response"
                                },
                                "examples": {
                                    "ThisFieldIsMissing": {
                                        "summary": "This field is missing",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field is missing."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT (для обязательных для ввода полей)",
                                        "x-notes": "текст"
                                    },
                                    "ThisFieldWasNotExpected": {
                                        "summary": "This field was not expected",
                                        "value": {
                                            "message": "The given data was invalid.",
                                            "errors": {
                                                "any_field": [
                                                    "This field was not expected."
                                                ]
                                            }
                                        },
                                        "description": "Ошибка выпадает для всех методов POST, PUT",
                                        "x-notes": "текст"
                                    },
                                    "InvalidCampaignId": {
                                        "summary": "Invalid campaign id",
                                        "value": {
                                            "message": "Invalid campaign id",
                                            "errors": []
                                        },
                                        "description": "в запиті вказано ID кампанії, який відсутній в системі",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequests - Too many duplicate request detected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyDuplicateRequestDetected"
                                },
                                "examples": {
                                    "TooManyDuplicateRequestDetected": {
                                        "summary": "Too many duplicate request detected",
                                        "value": {
                                            "message": "Too many duplicate request detected"
                                        },
                                        "description": "Ошибка выпадает по тротлингу для всех методов POST кроме /api/auth/login , т.е. много одинаковых запросов за определенный промежуток времени (можно выставить конкретные значения в настройках клиента в админке): One-api rate limiter period, seconds (default = 10) One-api rate limiter limit, requests (default = 3)",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/campaigns/rcs/send": {
            "post": {
                "tags": [
                    "Campaign RCS"
                ],
                "summary": "Send RCS message",
                "description": "This method provides the ability to send a single rcs message or to send a mass rcs message.\nIt also supports sending messages via an alternative SMS channel if the rcs can’t be delivered",
                "operationId": "rcs_send",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendRcsCampaign"
                            },
                            "examples": {
                                "simple_text": {
                                    "summary": "simple_text",
                                    "value": {
                                        "phones": [
                                            {
                                                "number": "380661231231"
                                            }
                                        ],
                                        "sender": "rcs_sender",
                                        "options": {
                                            "text": "Hello! ☺️"
                                        }
                                    }
                                },
                                "full": {
                                    "summary": "full",
                                    "value": {
                                        "phones": [
                                            {
                                                "number": "380661231231",
                                                "reference_id": "f2d37bf77f6242daa83f23b0cc84b627"
                                            }
                                        ],
                                        "sender": "rcs_sender",
                                        "options": {
                                            "cards": [
                                                {
                                                    "title": "The message",
                                                    "text": "Hello! ☺️",
                                                    "media": {
                                                        "url": "https://domain.com/video.mp4"
                                                    },
                                                    "suggestions": [
                                                        {
                                                            "text": "Go to site",
                                                            "url": "https://domain.com/",
                                                            "postback_data": "site"
                                                        },
                                                        {
                                                            "text": "Call us",
                                                            "phone": "380991112233",
                                                            "postback_data": "call"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "alternative_channel": {
                                            "sms": {
                                                "text": "Hello! It’s just test message. Please ignore it!",
                                                "sender": "testsms",
                                                "validity_seconds": 30,
                                                "validity": 72,
                                                "check_stop_list": true
                                            }
                                        },
                                        "start_at": "2025-04-10 09:00:00",
                                        "tariff_code": 9,
                                        "validity_seconds": 30,
                                        "validity": 72,
                                        "add_to_contact_book": true,
                                        "check_stop_list": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Campaign info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CampaignSchema"
                                        }
                                    },
                                    "type": "object",
                                    "title": "RcsSend200Response"
                                },
                                "examples": {
                                    "response_example": {
                                        "summary": "response_example",
                                        "value": {
                                            "data": {
                                                "id": 53708808,
                                                "name": "RCS api campaign / 2025-04-14 13:43:13",
                                                "sender": "rcs_sender",
                                                "status": "done",
                                                "message_type": "rcs",
                                                "start_at": "2025-04-14 10:43:13",
                                                "real_start_at": null,
                                                "finished_at": null,
                                                "created_at": "2025-04-14 13:43:13",
                                                "statistics": {
                                                    "delivered": 0,
                                                    "sent": 0
                                                },
                                                "calculated_price": 0.0175696,
                                                "currency": "USD",
                                                "alternative_channels": null
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequestsResponse"
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/campaigns/rcs/send-groups": {
            "post": {
                "tags": [
                    "Campaign RCS"
                ],
                "summary": "Send RCS message to contact list",
                "description": "The method provides the ability to send rcs messages to a group of contacts (the group ID is created in the client’s contact book).\n\nThe ability to send messages via an alternative SMS channel is also supported",
                "operationId": "rcs_send_groups",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendRcsCampaignGroups"
                            },
                            "examples": {
                                "simple_text": {
                                    "summary": "simple_text",
                                    "value": {
                                        "groups": [
                                            1864275
                                        ],
                                        "sender": "rcs_sender",
                                        "options": {
                                            "text": "Hello! ☺️"
                                        }
                                    }
                                },
                                "full": {
                                    "summary": "full",
                                    "value": {
                                        "groups": [
                                            1864275
                                        ],
                                        "sender": "rcs_sender",
                                        "options": {
                                            "cards": [
                                                {
                                                    "title": "The message",
                                                    "text": "Hello! ☺️",
                                                    "media": {
                                                        "url": "https://domain.com/video.mp4"
                                                    },
                                                    "suggestions": [
                                                        {
                                                            "text": "Go to site",
                                                            "url": "https://domain.com/"
                                                        },
                                                        {
                                                            "text": "Call us",
                                                            "phone": "380991112233"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "alternative_channel": {
                                            "sms": {
                                                "text": "Hello! It’s just test message. Please ignore it!",
                                                "sender": "testsms",
                                                "validity_seconds": 30,
                                                "validity": 72,
                                                "check_stop_list": true
                                            }
                                        },
                                        "start_at": "2025-04-10 09:00:00",
                                        "tariff_code": 9,
                                        "validity_seconds": 30,
                                        "validity": 72,
                                        "add_to_contact_book": true,
                                        "check_stop_list": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Campaign info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CampaignSchema"
                                        }
                                    },
                                    "type": "object",
                                    "title": "RcsSendGroups200Response"
                                },
                                "examples": {
                                    "response_example": {
                                        "summary": "response_example",
                                        "value": {
                                            "data": {
                                                "id": 53708808,
                                                "name": "RCS api campaign / 2025-04-14 13:43:13",
                                                "sender": "rcs_sender",
                                                "status": "done",
                                                "message_type": "rcs",
                                                "start_at": "2025-04-14 10:43:13",
                                                "real_start_at": null,
                                                "finished_at": null,
                                                "created_at": "2025-04-14 13:43:13",
                                                "statistics": {
                                                    "delivered": 0,
                                                    "sent": 0
                                                },
                                                "calculated_price": 0.0175696,
                                                "currency": "USD",
                                                "alternative_channels": null
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequestsResponse"
                    }
                },
                "security": [
                    {
                        "ExternalAuth": []
                    }
                ]
            }
        },
        "/api/campaigns": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "summary": "List of campaigns",
                "description": "Get a list of campaigns based on specified criteria",
                "operationId": "campaigns",
                "parameters": [
                    {
                        "name": "page[offset]",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PageOffset"
                        }
                    },
                    {
                        "name": "page[limit]",
                        "in": "query",
                        "description": "The number of items in the response",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 500,
                            "minimum": 30,
                            "example": 50,
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort items by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id",
                            "enum": [
                                "id",
                                "sender",
                                "type",
                                "date",
                                "status"
                            ],
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "way",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/SortWay"
                        }
                    },
                    {
                        "name": "filter[from]",
                        "in": "query",
                        "description": "Include items from",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "filter[to]",
                        "in": "query",
                        "description": "Include items to",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "filter[type]",
                        "in": "query",
                        "description": "Filter items by type type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sms",
                                "rcs",
                                "whatsapp"
                            ],
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "search[field]",
                        "in": "query",
                        "description": "Filter items by search[field]=search[value]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sender",
                                "taskname"
                            ],
                            "title": "ParamSchema"
                        }
                    },
                    {
                        "name": "search[value]",
                        "in": "query",
                        "description": "Filter items by search[field]=search[value]",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 1,
                            "title": "ParamSchema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of campaigns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchCampaignResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "BadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/CouldNotDecodeRequestBody"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RequestBodyIsEmpty"
                                        }
                                    ],
                                    "title": "Campaigns400Response"
                                },
                                "examples": {
                                    "CouldNotDecodeRequestBody": {
                                        "summary": "Could not decode request body",
                                        "value": {
                                            "message": "Could not decode request body."
                                        },
                                        "x-notes": "текст"
                                    },
                                    "RequestBodyIsEmpty": {
                                        "summary": "Request body is empty",
                                        "value": {
                                            "message": "Request body is empty."
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Expired JWT Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExpiredJwtToken"
                                },
                                "examples": {
                                    "ExpiredJwtToken": {
                                        "summary": "Expired JWT Token",
                                        "value": {
                                            "code": 401,
                                            "message": "Expired JWT Token"
                                        },
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                },
                                "examples": {
                                    "NotFound": {
                                        "summary": "Not Found",
                                        "value": {
                                            "message": "Not Found"
                                        },
                                        "description": "Ошибка выпадает для всех методов GET, PUT, DELETE, PATCH",
                                        "x-notes": "текст"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ThisFieldIsMissing"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ThisFieldWasNotExpected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/filterfromThisValueShouldNotBeBlank"
                                        },
                                        {
                                            "$ref": "#/components/schemas/pagelimitThisValueShouldBeAValidNumber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/filterfromThisValueIsNotAValidDatetime"
                                        },
                                        {
                                            "$ref": "#/components/schemas/filtertoThisValueShouldBeLessThanOrEqualToyyyymmddHhmmss"
                                        },
[...]
