# IDE
.idea/
.vscode/
*.swp
*.swo

# Composer
/vendor/
composer.lock
composer.phar

# PHPUnit
.phpunit.result.cache
phpunit*.phar

# Coverage
/coverage/
.coverage

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
/tmp/
/back/

# Logs
*.log